*
{
    margin : 0;
    padding:0;
    font-family : 'poppins', sans-Serif;
    box-sizing : border-box;
}

body {
    background: #080808 ;
    color : #fff;
}
#header{
    width : 100%;
    height : 100vh;
    background:url('images/back1.png') ;
    background-size : cover;
    background-position : origin;
}

.cont{
    width : 100%;
    margin-top : 20px;
    margin-left : 30px;
}

nav{
width : 100%;
    display:flex;
    align-items : center;
    justify-content:space-between;
    flex-wrap : wrap;
}

nav ul li{
    list-style : none;
    display: inline-block;
    margin : 10px 20px;
}

nav ul li a{
    text-decoration : none;
    color :#fff;
    font-size : 20px;
    font-weight : 500;
    position : relative;
}

nav h1{
    font-size : 30px;
    font-weight : 600;
}

nav h1 span{
    font-family : cursive;
    font-size : 40px;
    color :#d40071;
    font-weight : 600;
}

nav ul li a::after{
    content : '';
    width : 100%;
    height : 0;
    position: absolute;
    left : 0;
    bottom : -5px;
    background:#d40071;
}

nav ul li a:hover::after{
    height : 3px;
}

.hd-txt{
    margin-top : 50%;
    font-size : 30px;
    padding: 20px 60px;
    overflow : hidden;
}

.hd-txt h1{
    margin-top : 15px;
    font-weight : 500;
}

.hd-txt h1 span{
    color : #d40071;
    font-weight : 700;
}

#about{
    margin-top : 60px;
    padding : 40px 30px;
}

.container{
    padding: 10px 20px;
}

.row{
    /*display:flex;
    justify-content: space-between;
    flex-wrap:wrap;*/
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
}
.col1{
    flex-basis : 35%;
    position:relative;
}
.col1 img{
    width : 100%;
    filter : grayscale(0);
}
.col1 img:hover{
    filter : grayscale(1);
    /*background : url("images/back3.jpg";*/
}

.col2{
    flex-basis : 60%;
}

.abt{
    text-align : center;
    font-size : 40px;
    font-weight : 500;
}
.txt{
    margin-top: 10px;
    padding : 15px 20px;
    font-size : 30px;
    line-height : 40px;
    text-align: justify;
    
}
.txt span{
    font-weight : 600;
    color:#24830b;
}

.tabs{
    margin-top : 10px;
    padding : 15px 20px;
    font-size : 30px;
    font-weight : 600;
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
    
}

.tab{
    position:relative;
}
.tab:hover{
    outline : solid 2px green;
}

/*.tabs p::after{
    content: '';
    width : 40%;
    height : 3px;
    color : yellow;
  color :#24830b;
    position: absolute;
    left : 0;
    bottom : -8px;
}*/

.tab::after{
    content : '';
    width:0%;
    height: 3px;
    position: absolute;
    background : #24830b;
    left : 0;
    bottom : -8px;
}
.tab.active-tab::after{
    width : 40%;
}
.tab-co{
    margin-top : 10px;
    padding :15px 40px;
    display : none;
}


.tab-co.active-cont{
    display:block;
}

.tab-co h2{
    margin-bottom :5px;
    font-size :25px;
    color :#24830b;
    margin-top : 9px;
}

.tab-co p{
    font-size : 30px;
    line-height : 40px;
}

#services{
    margin-top : 30px;
    padding : 20px 30px;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap : 30px;
      /*  border : solid 3px red;*/
}
 .cont-service h1{
     margin-bottom : 20px;
     font-size : 40px;
     font-weight : 600;
 }
 .service-list div{
     padding : 20px 30px;
     background : #21211e;
     border-radius: 15px;
 }
 .service-list div:hover{
     background : #ff80b3;
     margin-bottom : -6px;
 }
 
 .service-list div h2{
     margin-bottom : 15px;
     font-size : 30px;
     font-weight :500;
 }
 
 .service-list div p{
     font-size : 30px;
     line-height : 35px;
 }

.service-list div i{
    font-size : 40px;
    font-weight : 500;
    margin-bottom : 15px;
    padding : 10px 15px;
}

.service-list div a{
    text-decoration : none;
    display: inline-block;
    color : white;
    font-size : 30px;
    margin-top : 10px;
    font-weight : 400;
    padding : 10px 15px;
}

nav span{
    display:none;
}

html{
    scroll-behavior : smooth;
}
/*--------++++Media query+++-------*/
@media only screen and (max-width : 600px)
{
    /*nav i{
        font-size : 30px;
        margin-right : 15px;
    }*/
    nav{
    
       /* border : solid 2px cyan;*/
        margin-top : 0;
    }
    
    .hd-txt{
    margin-top : 30%;
    font-size : 15px;
    padding: 20px 20px;
    overflow : hidden;
    }
    
    nav .fa-solid{
        display : block;
    }
    
    nav ul{
        position: fixed;
        top : 0;
        right : 0;
        height :100vh;
        background-color : pink;
        width: 150px;
        display : none;

    }
    
    nav ul li {
    margin-top : 20px;
        padding: 5px 10px;
    }
    
    nav h1{
        font-size : 20px;
        margin-top : 0px;
        padding : 0px 0px;
        color : red;
    }
    #header{
     /*  border : solid 2px red;*/
    }
    
    .cont{
        margin-left : 0;
        margin-top : 0;
        padding : 0px;
       /* position: relative;*/
    }
    #bar{
        padding-right : 10px;
    }
    #close{
    
    font-size : 25px;
    font-weight : 400;
    position:absolute;
    top : 0;
    right:10px;
        
    }
    .col1{
       /* border : solid 2px red;*/
        flex-basis : 100%;
       
    }
    
    .abt h1{
        text-align : left;
    }
}
