*
{
    margin : 0;
    padding:0;
    font-family : 'Poppins', sans-Serif;
    box-sizing : border-box;
}

body {
    background: #080808 ;
    color : #fff;
}
#header 
{
    width : 100%;
    height : 100vh;
    background:url('images/back1.png') ;
    background-size : 50% 100%;
    background-position : center;
    background-repeat: no-repeat;
    padding : 0 10px;
   /* border: solid 2px red;
    position : relative;*/
}

.cont{
    width : 100%;
   /* border: solid 2px rgb(8, 206, 90);*/
}

nav{
width : 100%;
    display:flex;
    align-items : center;
    justify-content:space-between;
    flex-wrap : wrap;
}

nav ul li{
    list-style : none;
    display: inline-block;
    margin : 10px 20px;
}

nav ul li a{
    text-decoration : none;
    color :#fff;
    font-size : 20px;
    font-weight : 500;
    position : relative;
}

nav h1{
    font-size : 30px;
    font-weight : 600;
}

nav h1 span{
    font-family : cursive;
    font-size : 40px;
    color :#d40071;
    font-weight : 600;
}

nav ul li a::after{
    content : '';
    width : 100%;
    height : 0;
    position: absolute;
    left : 0;
    bottom : -5px;
    background:#d40071;
    transition: height 0.5s;
}

nav ul li a:hover::after{
    height : 3px;
}

.hd-txt{
    margin-top : 50%;
    font-size : 30px;
    padding: 20px 60px;
    overflow : hidden;
    position : absolute;
    left : 10px;
    bottom : 40%;
}

.hd-txt h1{
    margin-top : 15px;
    font-weight : 500;
}

.hd-txt h1 span{
    color : #d40071;
    font-weight : 700;
}

#about{
    padding : 40px 30px;
}

.container{
    padding: 10px 20px;
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
}
.col1{
    flex-basis : 35%;
    /*border: solid 2px #d40071;*/
    transition: display 0.5s;
}
#cover1{
    width : 100%;
    filter : grayscale(0);
    border-radius : 15px;
}

#Cover{
    /*display: none;*/
    width: 100%;
    display :none;

}

.col1:hover #cover1{
    display :none
}
.col1:hover #Cover{
    display :block
}
/*
.col1.cover1:hover{
    filter : grayscale(1);
    /*background : url("images/back3.jpg");
}*/

.col2{
    flex-basis : 60%;
}

.abt{
    text-align : center;
    font-size : 40px;
    font-weight : 500;
}
.txt{
    margin-top: 10px;
    padding : 15px 20px;
    font-size : 30px;
    line-height : 40px;
    text-align: justify;
    
}
.txt span{
    font-weight : 600;
    color:#24830b;
}

.tabs{
    margin-top : 10px;
    padding : 15px 20px;
    font-size : 30px;
    font-weight : 600;
    display : flex;
    justify-content : space-between;
    flex-wrap : wrap;
    cursor: pointer;
    
}

.tab{
    position:relative;
}
/*.tab:hover{
   outline : solid 2px green;
}*/

/*.tabs p::after{
    content: '';
    width : 40%;
    height : 3px;
  color :#24830b;
    position: absolute;
    left : 0;
    bottom : -8px;
}*/

.tab::after{
    content : '';
    width:0%;
    height: 3px;
    position: absolute;
    background : #24830b;
    left : 0;
    bottom : -8px;
    transition: width 0.5s;
}
/*.tab.active-tab::after{
    width : 40%;
}*/

.tab.active-tab::after{
    width : 40%;
}
.tab-co{
    margin-top : 10px;
    padding :15px 40px;
    display: none;
}


.tab-co.active-cont{
    display:block;
}

.tab-co h2{
    margin-bottom :5px;
    font-size :25px;
    color :#24830b;
    margin-top : 9px;
}

.tab-co p{
    font-size : 30px;
    line-height : 40px;
}

#services{
    padding : 20px 30px;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap : 30px;
      /*  border : solid 3px red;*/
}
 .cont-service h1{
     margin-bottom : 20px;
     font-size : 40px;
     font-weight : 600;
 }
 .service-list div{
     padding : 20px 30px;
     background : #21211e;
     border-radius: 15px;
 }
 .service-list div:hover{
     background : #ff80b3;
     margin-bottom : -6px;
 }
 
 .service-list div h2{
     margin-bottom : 15px;
     font-size : 30px;
     font-weight :500;
 }
 
 .service-list div p{
     font-size : 30px;
     line-height : 35px;
 }

.service-list div span{
    font-size : 50px;
    font-weight : 200;
    margin-bottom : 15px;
    padding : 10px 8px;
}

.service-list div a{
    text-decoration : none;
    display: inline-block;
    color : white;
    font-size : 30px;
    margin-top : 10px;
    font-weight : 400;
    padding : 10px 15px;
}

#bar, #close{
    display:none;
}

html{
    scroll-behavior : smooth;
}

/*.imk{
    width : 50%;
    padding:10px 10px;
}

.imk img{
    width:100%;
}*/

#portfolio{
    padding : 40px 0px;
}
.port-cont{
    padding : 0px 40px;
}

.work-list{
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap : 20px;
        border-radius : 15px;
    
}
.port-cont h1{
    margin-bottom : 15px;
    font-size : 40px;
    font-weight :600;
}

.work{
    padding : 20px 30px;
    border-radius : 15px;
    position: relative;
    transition: transform 0.5s;
   /* border : solid 2px yellow;*/
    
}
.work img{
display : block;
width : 100%;
border-radius : 15px;
/*border:solid 2px cyan;*/
    
}
.work:hover img{
    transform : scale(1.1);
}

.layer{
    background:linear-gradient(rgba(0,0,0,0.6),#dd4a9b);
    position : absolute;
    width:100%;
    height:0;
    left : 0;
    bottom: 0;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    width : 100%;
    height : 0%;
    position:absolute;
    /*border:solid 2px red;
    left : 0;
    bottom : 0;
  /*  flex-wrap : wrap;*/
    padding : 0 10px;
    overflow: hidden;
    border-radius : 15px;
}

.layer h2{
    font-size : 15px;
    font-weight : 400;
    margin-bottom : 10px;
}
/*layer:hover .work{
    height : 100%;
}*/

.work:hover .layer{
    height : 100%;
}

.layer p{
    padding : 0 20px;
    margin-bottom : 10px;
    font-size : 15px;
}

.layer a {
    text-decoration : none;
    background:white;
    height : 40px;
   padding-top : 10px;
    width : 40px;
    border-radius : 50%;
    color : #dd4a9b;
    text-align : center;
    /*display: flex;
    align-items : center;
    justify-content : center;*/
}
/*--------++++Media query+++-------*/
@media only screen and (max-width : 1500px)
{
    nav i{
        font-size : 30px;
        margin-right : 15px;
    }
   /* nav{
    
        border : solid 2px cyan;
        margin-top : 0;
    }*/
    
    .hd-txt{
    margin-top : 30%;
    font-size : 15px;
    padding: 20px 20px;
    overflow : hidden;
    }
    
    nav .fa-solid{
        display : block;
    }
    
    nav ul{
        position: fixed;
        top : 0;
        right : 0;
        height :100vh;
        background-color : pink;
        width: 150px;
        display : none;

    }
    
    nav ul li {
    margin-top : 20px;
        padding: 5px 10px;
    }
    
    nav h1{
        font-size : 20px;
        margin-top : 0px;
        padding : 0px 0px;
        color : #fff;
     }
    /*#header{
      border : solid 2px red;
    }*/
    
    .cont{
        margin-left : 0;
        margin-top : 0;
        padding : 0px;
       position: relative;
    }
    #bar{
    display : block;
        padding-right : 10px;
    }
    #close{
    display : block;
    
    font-size : 25px;
    font-weight : 400;
    position:absolute;
    top: 0;
    right:10px;
        
    }
    .col1{
        /*border : solid 2px red;*/
        flex-basis : 100%;
       
    }
    
    .abt h1{
        text-align : left;
    }
    
    .tabs p{
        padding : 15px 0;
    }
} 
